.container {
    height: 2000;
    width: 95vw;
    margin: 2rem auto;
    display: grid;
    grid-template-areas: "title title title"
                        "desc knot knot"
                         "main main main"
                         "conc img img"
                         "footer footer footer";
    grid-template-rows: .5fr 1fr 3fr 1fr .75fr;
    grid-template-columns: 1.6fr 1fr 1fr;
 }
 .container h1 {
    grid-area: title;
    color: #457b9d;
    font-family: 'Open Sans', sans-serif;
 }
 .container h3 {
   font-family: 'Open Sans', sans-serif;
}
 .container div:nth-child(2) {
    grid-area: desc;
    padding-left: 1em;
    background: #f0efeb;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
 }
 .container div:nth-child(3) {
   grid-area: knot;
   background: #f0efeb;
   padding-top: 3em;
}
 .container div:nth-child(5) {
   background: #f0efeb;
   grid-area: conc;
   padding-left: 1em;
   padding-right: 1em;
   font-family: 'Open Sans', sans-serif;
   font-size: 13px;
}
.container div:nth-child(6) {
   background: black;
   grid-area: img;
   margin: auto;
   padding: 1em;
}
/* .container div:nth-child(7) {
   background: #f0efeb;
   grid-area: box4;
} */
 .container main {
   background: #f0efeb;
    grid-area: main;
 }
 .container footer {
   background: #f0efeb;
   grid-area: footer;
   padding-left: 1em;
   padding-top: 1em;
   font-family: 'Open Sans', sans-serif;
   font-size: 13px;
 }
 body {
    background: black;
    text-align: left;
 }