/* @import '1977.css'; */


/* pseudoelements */


/* .element::before {

} */

.large{
	font-size: 24px;
}

.content-section div {
	/* border: 1px solid blue; */
}

body {
	margin: 0;
}

.body-text {
	font-family: 'Playfair Display', serif;
	font-size: 14px;
	hyphens: auto;
	padding: 20px 20px 20px 0px;
	margin: 20px 20px 20px 0px;
	/* color: white; */
}

.caption {
	font-family: 'Source Code Pro', monospace;
	font-size: 10px;
	color: grey;
	text-align: center;
}

.enlarge {
	font-family: 'Source Code Pro', monospace;
	font-size: 14px;
	color: grey;
	text-align: center;
	margin-bottom: 10px;
}

.heading {
	font-family: 'Source Code Pro', monospace;
	font-size: 24px;
	color: #69a2ad;
}

.background-large {
	font-family: 'Playfair Display', serif;
	font-size: 18px;
	background-color: #f3f3f3;
	border-left: 3px solid #69a2ad;
	padding: 20px;
	margin: 80px 0;
}

.background-small {
	font-family: 'Playfair Display', serif;
	color: grey;
	font-size: 12px;
	hyphens: auto;
	margin-left: 10px;
}

.main {
	display: grid;
	grid-template-columns: 300px auto;
	background: white;
}

/* LANDING PAGE */ /* LANDING PAGE */ /* LANDING PAGE */ /* LANDING PAGE */ /* LANDING PAGE */ /* LANDING PAGE */

.content-1951 {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: .3fr .1fr .1fr 100px;
}

.title {
	font-family: 'Playfair Display', serif;
	font-size: 40px;
	grid-column: 5 / span 5;
	grid-row: 1 / 2;
	margin-top: 20px;
	/* color: white; */
}

.rocket {
	grid-column: 1 / span 3;
	grid-row: 1 / 4;
	margin-top: 20px;
}

.text {
	grid-column: 6 / span 4;
	grid-row: 2 / 3;
}

.sally {
	grid-column: 5 / span 6;
	grid-row: 3 / 4;
	margin-right: 20px;
}


/* PART ONE: EARLY LIFE */ /* PART ONE: EARLY LIFE */ /* PART ONE: EARLY LIFE */ /* PART ONE: EARLY LIFE */

.content-1969 {
	display: grid;
	grid-template-columns: repeat(8, 1fr) .5fr .5fr;
	grid-template-rows: 50px .3fr .5fr .5fr .3fr 1fr 1fr 100px;
}

.part-one {
	grid-column: 1 / span 4;
	grid-row: 1 / 2;
}
/* BODY TEXT SPANS 5 COLUMNS, 1 - 5 */
.uni {
	grid-column: 1 / span 5;
	grid-row: 2 / 3;
}

.ruler1 {
	grid-column: 1 / span 5;
	grid-row: 3 / 4;
}

.ruler2 {
	grid-column: 1 / span 5;
	grid-row: 4 / 5;
}

.chem {
	grid-column: 6 / span 2;
	grid-row: 3 / 4;
}

.apply {
	grid-column: 1 / span 3;
	grid-row: 5 / 6;
}

.thumbnail-news:hover {
  	transform: scale(5); 
}

.thumbnail-watch:hover {
  	transform: scale(2); 
}

.news {
	grid-column: 1 / span 5;
	grid-row: 6 / 8;
}

.news2 {
	grid-column: 6 / 7;
	grid-row: 6 / 8;
}

/* PART TWO: TRAINING */ /* PART TWO: TRAINING */ /* PART TWO: TRAINING */ /* PART TWO: TRAINING */

.content-1978 {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: 50px 1fr 1fr .5fr .5fr 1fr 1fr;
}

.part-two {
	grid-column: 1 / span 4;
	grid-row: 1 / 2;
}

.interviews {
	grid-column: 1 / span 5;
	grid-row: 2 / 3;
}

.badge {
	grid-column: 1 / 3;
	grid-row: 3 / 4;
	margin-top: 25px;
}

.watch {
	grid-column: 4 / 6;
	grid-row: 3 / 4;
}

.mission-sequence-test {
	grid-column: 1 / 5;
	grid-row: 4 / 5;
}

.helmet {
	grid-column: 6 / 10;
	grid-row: 4 / 5;
}

.pre-launch {
	grid-column: 1 / span 3;
	grid-row: 5 / 6;
}

.t-38 {
	grid-column: 1 / span 9;
	grid-row: 6 / 8;
}

/* CREW */ /* CREW */ /* CREW */ /* CREW */ /* CREW */ /* CREW */ /* CREW */ /* CREW */ /* CREW */ /* CREW */ 

.content-1983-crew {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: .5fr .5fr 1fr .5fr 100px;
}

.crew-list {
	grid-column: 1 / 5;
	grid-row: 1 / 2;
  }

.exhilirating {
	grid-column: 1 / span 3;
	grid-row: 2 / 3;
}

.crew-image {
  	grid-column: 1 / 10;
	grid-row: 3 / 5;
}

/* PART FOUR: COMMUNICATION SATELLITES */ /* PART FOUR: COMMUNICATION SATELLITES */ /* PART FOUR: COMMUNICATION SATELLITES */


.content-1983-palapa {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: 50px .8fr 1fr .5fr .5fr 1fr .5fr 100px;
}

.part-four {
	grid-column: 1 / span 6;
	grid-row: 1 / 2;
}

.palapa-text {
	grid-column: 1 / span 5;
	grid-row: 2 / 3;
}

.palapa {
	grid-column: 1 / 8;
	grid-row: 3 / 5;
}

.palapa-medal {
	grid-column: 8 / 10;
	grid-row: 4 / 5;
}

.quote-fun {
	grid-column: 1 / span 3;
	grid-row: 5 / 6;
}

.sally-floating {
	grid-column: 1 / 9;
	grid-row: 6 / 8;
}

/* PART FIVE: SPAS */ /* PART FIVE: SPAS */ /* PART FIVE: SPAS */ /* PART FIVE: SPAS */ /* PART FIVE: SPAS */ /* PART FIVE: SPAS */

.content-1983-spas {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: 50px .5fr 1fr .5fr 1fr .3fr;
}

.part-five {
	grid-column: 1 / span 4;
	grid-row: 1 / 2;
}

.RMS-text {
	grid-column: 1 / span 5;
	grid-row: 2 / 3;
}

.video-spas {
	grid-column: 1 / 6;
	grid-row: 3 / 4;
}

.medallion {
	grid-column: 6 / 8;
	grid-row: 3 / 4;
}

.samples-text {
	grid-column: 1 / span 5;
	grid-row: 4 / 5;
}

.video-sample {
	grid-column: 1 / 6;
	grid-row: 5 / 6;
}

.mission-success {
	grid-column: 1 / span 3;
	grid-row: 6 / 7;
}


/* LAST PAGE */ /* LAST PAGE */ /* LAST PAGE */ /* LAST PAGE */ /* LAST PAGE */ /* LAST PAGE */ /* LAST PAGE */

.content-1984 {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: 50px 1fr;
}

.post-mission {
	grid-column: 1 / 5;
	grid-row: 1 / 2;
	}

.STS-41G {
	grid-column: 1 / 5;
	grid-row: 2 / 3;
}

.content-1985 {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: 1fr;
}

.next-mission {
	grid-column: 1 / 5;
	grid-row: 1 / 2;
}

.content-1986 {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: 1fr;
}

.ride-report {
	grid-column: 1 / 5;
	grid-row: 1 / 2;
}

.content-1989 {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: 1fr;
}

.professor {
	grid-column: 1 / 5;
	grid-row: 1 / 2;
}

.content-2001 {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: 1fr;
}

.science {
	grid-column: 1 / 5;
	grid-row: 1 / 2;
}

.content-2013 {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(4, 1fr);
}

.cancer {
	grid-column: 1 / 5;
	grid-row: 1 / 3;
}

.sally-final {
	grid-column: 1 / 5;
	grid-row: 3 / 5;
}

.freedom {
	grid-column: 6 / 10;
	grid-row: 3 / 5;
}

/* FOOTER */ /* FOOTER */ /* FOOTER */ /* FOOTER */ /* FOOTER */ /* FOOTER */ /* FOOTER */ /* FOOTER */ /* FOOTER */

.footer {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: 1fr;
}

.smithsonian {
	grid-column: 9 / 11;
	grid-row: 1 / 2;
}

.NASA {
	grid-column: 7 /  9;
	grid-row: 1 / 2;
}

/*** FULLSCREEN IMAGE THAT ALSO SPANS TIMELINE ***/


/* PART THREE: LAUNCH */ /* PART THREE: LAUNCH */ /* PART THREE: LAUNCH */ /* PART THREE: LAUNCH */ /* PART THREE: LAUNCH */

.content-1983-launch {
	height: 100vw;
}

.content-1983-challenger {
  /* not in grid structure */
	height: 100vw;
  /* margin-bottom: calc(var(--variable-width)); */
}

.content-1983-floating {
	height: 100vw;
  /* margin-bottom: 300px; */
}

.fullscreen-image {	
	position: relative;
	/* overflow-y: hidden; */
}

.fullscreen-image img {
	position: absolute;
	min-width: 400px;
	width: 100vw; /*viewport width*/
	left: -300px;
	z-index: 0;
}

.fullscreen-image h1 {
	position: absolute;
	right: 0;
	color: #fff;
}


/* NEW TIMELINE CONTENT */ /* NEW TIMELINE CONTENT */ /* NEW TIMELINE CONTENT */ /* NEW TIMELINE CONTENT */

.timeline-name {
	position: sticky;
	text-align: left;
	font-family: 'Source Code Pro', monospace;
	font-size: 14px;
	z-index: 5;
	/* color: white; */
	padding-top: .5vh;
	/* padding-bottom: 10px; */
	padding-left: 40px;
}


.timeline {
	position: sticky;
	margin: 0 auto;
	height: 100vh;
	font-family: 'Source Code Pro', monospace;
	font-size: 12px;
	top: 0;
	z-index: 1;
}

.timeline ul {
	padding-inline-start: 5px;
	height: 95vh;
	display: flex; 
	flex-direction: column;

}

.timeline ul li {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	/* margin-bottom: 50px; */
	/* transition: transform 0.2s; */
}

.point {
	min-width: 10px;
	height: 10px;
	background-color: grey;
	border-radius: 100%;
	position: relative;
	left: 8.5px;
}

.event {
	width: 50%;
	padding: 10px 20px 0 0;
}

.date {
	width: 50%;
	padding: 0 20px;
	font-weight: normal;
}

.date p {
	width: 50px;
	text-align: center;
	color: #999;
	/* transition: color 0.3s; */
}

.timeline ul li .event p {
	color: grey;
	margin-top: 0;
	text-align: center;
}

.timeline::before {
	content: "";
	position: absolute;
	height: 100vh;
	width: 2px;
	left: 50%;
	background-color: grey;
}


/* ON HOVER */ /* ON HOVER */ /* ON HOVER */ /* ON HOVER */ /* ON HOVER */ /* ON HOVER */

.timeline ul li:hover p {
	cursor: pointer;
	transform: translateX(10px)
}


/* ACTIVE ATTRIBUTES */ /* ACTIVE ATTRIBUTES */ /* ACTIVE ATTRIBUTES */ /* ACTIVE ATTRIBUTES */ 

.timeline li.active .date p {
	font-weight: 700;
	font-style: italic;
	color: #69a2ad;
}

.timeline li.active .point {
	background-color: #69a2ad;
}

.timeline li.active .event p {
	font-weight: 700;
	font-style: italic;
	color: #69a2ad;
}